<h2>Auth Login Helper - Credentials Helper</h2>
<a class="install-button" href="http://github.com/TheDeadlyPianist/TamperMonkeyScripts/raw/main/authLoginHelperCreds.user.js">Install <img class="img-no-border" src="https://img.icons8.com/ios-glyphs/30/000000/software-installer.png"/></a>
<h3>Why use the helper?</h3>
<p>
    Inputting user credentials can be a long, tedious and painful process. What would help alleviate that process? Being able to associate a collection of credentials to a simple press of a button.<br><br>
    This helper, with the most minimal of set-up (the same as it would take to just fill in the credentials), you can save yourself at least 10 seconds every single time you use the Auth login stub.<br><br>
    Hit that install button and start saving time (for free!) today!
</p>

<p>
    Under Construction
</p>
