<h2>Auth Login Helper - URL Helper</h2>
<h3>Why use the helper?</h3>
<p>
    URLs can be long and complicated and tedious to remember.<br>
    Often you need to construct them (especially locally) from multiple parts and it can be annoying and take up time.
</p>
<p>
    What if you had a tool that would construct the entire URL for you, and even adjust the output based on whether it is on the local Auth Login or one in the environments?
</p>
<p>
    Well, that is exactly what this tool will help you do.<br>
    Gone are the days of writing out or pasting in the same URL over and over during presentations or showcases. You can now quickly and easily store URLs in an organised fashion and select them as and when needed.
</p>

<h3>Features</h3>
<ul>
    <li>Easily select stored URLs</li>
    <li>Delete unwanted URLs with a click of a button</li>
    <li>Create groups to contain different list that share a common theme</li>
    <li>Create list to store URLs with a common route</li>
    <li>Create individual URLs</li>
    <li>The URL produced is formatted environment appropriate.</li>
    <li>You can hover over a list to get a small popup to remind you what the base URL for said list is.</li>
</ul>

<h3>How to Use</h3>
<h4>Create a new URL</h4>

<p>
    Three buttons are create above the Redirect Url section:
    <ul>
        <li>New URL Group</li>
        <li>New Base URL</li>
        <li>New Redirect URL</li>
    </ul>
    It looks as such:
</p>

<img src="siteFiles/images/url/create1-1.png">
<br>
<br>
<br>
<h4>Create URL Group</h4>
<p>A URL group is just a collection or URL list with a common theme. E.g. The group could be the team, and the list could be individual micro services.</p>

<b>Step 1</b>
<p>
    Clicking on the New URL Group button will give you a new input box.<br>
    Pressing submit will create the new category with the given name.<br>
    Pressing cancel will close the input.
</p>

<img src="siteFiles/images/url/create1-2.png">
<br><br><br>
<b>Step 2</b>
<p>Type in a name, then click submit. This will generate a box that is ready to contain some list.</p>
<img src="siteFiles/images/url/create1-3.png">
<br><br><br>

<h4>Create base URL</h4>
<p>
    A base URL is a root URL common to all child URLs. This exist so you don't need to type out the same base URL every time.<br>
    E.g.
    <ul>
        <li>http://somewebsite/page/apage</li>
        <li>http://somewebsite/page/asecondpage</li>
    </ul>
    These links both contain a common "http://somewebsite/page/", and thus can be treated as a base URL.
</p>

<b>Step 1</b>

<p>
    When pressing "New Base URL", you will get 2 input boxes followed by a drop down.<br>
    The first box is what you want to call the Base URL. This is only for the frontend.<br>
    The second box is where the base url goes.
</p>
<img src="siteFiles/images/url/create2-1.png">
<br><br><br>
<b>Step 2</b>
<p>
    The drop down box will contain a list of all groups that are available. This is where the base URL will be placed.
</p>
<img src="siteFiles/images/url/create2-2.png">
<br><br><br>
<b>Step 3</b><br><br>
<img src="siteFiles/images/url/create2-3.png">

<h4>Create new Redirect URL</h4>
<p>A redirect URL is the unique part of each url. From the above example, these would be:</p>
<ul>
    <li>apage</li>
    <li>asecondpage</li>
</ul>
<b>Step 1</b>
<p>
    Pressing "New Redirect URL" will open 2 inputs and 2 dropdowns. The inputs work in very much the same way as a new base URL.<br>
    The first dropdown once again refers to the group you want it placed in, and the second dropdown will be what base URL within that group you want the redirect URL to be placed under.
</p>
<img src="siteFiles/images/url/create3-1.png">
<br><br><br>
<b>Step 2</b>
<p>
    Input all the relevant information that you may want, with the following drop downs relating to the connected data:
</p>
<img src="siteFiles/images/url/create3-2.png">
<br><br><br>
<b>Step 3</b>
<p>
    Finally, press the submit button to add it to the list.
</p>
<img src="siteFiles/images/url/create3-3.png">
<br><br><br>
<p>The end goal is to have a list of URLs thata you can use.</p>
<img src="siteFiles/images/url/create3-4.png">
<br><br><br>
