<h2>Auth Login Helper - Credentials Helper</h2>
<a class="install-button" href="http://github.com/TheDeadlyPianist/TamperMonkeyScripts/raw/main/authLoginHelperCreds.user.js">Install <img class="img-no-border" src="https://img.icons8.com/ios-glyphs/30/000000/software-installer.png"/></a>
<h3>Why use the helper?</h3>
<p>
    Inputting user credentials can be a long, tedious and painful process. What would help alleviate that process? Being able to associate a collection of credentials to a simple press of a button.<br><br>
    This helper, with the most minimal of set-up (the same as it would take to just fill in the credentials), you can save yourself at least 10 seconds every single time you use the Auth login stub.<br><br>
    Hit that install button and start saving time (for free!) today!
</p>

<h3>Features</h3>
<ul>
    <li>Easily store specific credentials for different services.</li>
    <li>Will automatically fill in the NINO field</li>
    <li>Will automatically change the Affinity Group and Confidence Level dropdowns for you.</li>
    <li>Will automatically fill in the cred fields with what you have supplied.</li>
    <li>If you have provided more credentials than what is displayed by default, it will automatically add extra rows for you.</li>
    <li>Provides different input fields depending on if you are making an Individual or Agent.</li>
</ul>

<h3>How to Use</h3>

<p>
    This script adds two buttons above the enrolment key fields:
    <ul>
        <li>Create User Group</li>
        <li>Create New User</li>
    </ul>
</p>

<img src="siteFiles/images/creds/group-1.png">

<h4>Create User Group</h4>
A user group is, as the name suggest, a collection of users. A user <b>must</b> be placed in a group.<br><br>
User groups are extremely easy to make.<br><br>

<b>Step 1</b><br><br>
When you click on the "Create User Group", you get the new user group form.<br>
As with all forms, the submit button submits it, and the cancel button closes it down.<br><br>
<img src="siteFiles/images/creds/group-2.png"><br><br>

<b>Step 2</b><br><br>
Enter a name and hit submit. That's all you need to do to create a user group.<br><br>
<img src="siteFiles/images/creds/group-3.png">

<h4>Create User</h4>
Creating a User is a little more work than a user group, but no more effort than filling in the Auth Login form anyway.<br><br>
There is a slightly different view depending on if you're filling in an Individual or an Agent.<br><br><br>
<b>Step 1</b><br><br><br>
<b>Individual</b><br><br>
<img src="siteFiles/images/creds/user-1.png">
<br><br>
<b>Agent</b><br><br>
<img src="siteFiles/images/creds/user-2.png">
<br><br>
The only fields here worth mentioning are the "User Group" and "User Name" fields. The group is a dropdown of the user groups you have created. The user name is what the collection of credentials will be listed as in your user group.<br>
The rest of the fields relate directly to the fields on the Auth Login form.<br>
Simply fill them in and hit submit.<br><br><br>
<b>Step 2</b><br><br><br>
<b>Individual</b><br><br>
<img src="siteFiles/images/creds/user-3.png">
<br><br>
<b>Agent</b><br><br>
<img src="siteFiles/images/creds/user-4.png">
<br><br><br>
Now you can select a user from your list an it will automatically fill in all your fields and change your dropdowns where necessary.<br><br><br><br><br>
<b>Additional Details</b><br><br>
When entering credentials for an agent, you can click the "+" and "-" to increase and decrease the amount of rows (to a minimum of 1).<br><br>
<img src="siteFiles/images/creds/user-5.png">
