body {
    background: #e7ffdb;
    margin: 0;
    user-select: none;
}

h1 {
    padding: 0.3em 0.3em 1em;
    font-size: 3em;
}

h2 {
    border-bottom: 5px solid #3f7b39;
}

h3 {
    border-bottom: 5px solid #6b9067;
}

h4 {
    border-bottom: 2px solid #93ac90;
}

img {
    border: 2px solid #183908;
}

.header-container {
    width: 100%;
    height: 8%;
    background: black;
    color: white;
    box-sizing: border-box;
}

.scripts-container {
    width: 20%;
    height: 100%;
    overflow: auto;
    background: #f3ffeb;
    border-right: 6px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.script-name {
    background: #183908;
    color: white;
    height: 3em;
    padding-top: 1.7em;
    border-bottom: 5px solid #3f7b39;
}

.script-name:hover {
    cursor: pointer;
    background: #29660b;
    border-bottom: 5px solid #6b9067;
}

.content {
    height: 100%;
    width: 79.6%;
    overflow: auto;
    display: inline-block;
    box-sizing: border-box;
}

.main-page {
    width: 100%;
    height: 91.7%;
    box-sizing: border-box;
}

#page-content {
    height: auto;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 5%;
    border-left: 1vw solid #f5e7ff;
    box-sizing: border-box;
}
